.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(218, 23%, 16%);

  .center-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    justify-content: center;
    height: 40vh;
    width: 25vw;
    min-width: 440px;
    //background-color: red;
    border-radius: 10px;
    background-color: hsl(217, 19%, 24%);

    @media screen and (max-width: 768px) {
      display: flex;
      width: 90%;
      min-width: 90%;
    }

    h5 {
      color: hsl(150, 53%, 43%);
      letter-spacing: 0.2rem;
      margin-bottom: 1rem;
    }

    .text-container {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 100%;
      font-size: 1.5rem;
      color: hsl(193, 38%, 86%);
      //background-color: red;
    }

    button {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40vh;
      background-color: hsl(150, 100%, 66%);
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      border: none;
      outline: none;

      img {
        height: 1.2rem;
        width: 1.2rem;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
