.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(218, 23%, 16%);

  .center-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: center;
    height: 20rem;
    width: 32rem;
    border-radius: 10px;
    background-color: hsl(217, 19%, 24%);

    @media screen and (max-width: 768px) {
      display: flex;
      width: 95%;
      height: 25rem;
    }

    h5 {
      color: hsl(150, 53%, 43%);
      letter-spacing: 0.2rem;
    }

    .text-container {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 100%;
      font-size: 1.5rem;
      color: hsl(193, 38%, 86%);
      padding: 0rem, 1rem;

      @media screen and (max-width: 768px) {
        padding: 1.5rem 0rem;
      }
    }

    .parttern_divider_desktop {
      display: inherit;
      margin-bottom: 1rem;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .parttern_divider_mobile {
      display: none;
      margin-bottom: 1rem;
      @media screen and (max-width: 768px) {
        display: inherit;
      }
    }

    button {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20rem;
      background-color: hsl(150, 100%, 66%);
      border-radius: 50%;
      height: 3.5rem;
      width: 3.5rem;
      border: none;
      outline: none;
      transition: 0.2s;

      @media screen and (max-width: 768px) {
        margin-top: 25rem;
        height: 3.5rem;
        width: 3.5rem;
      }

      img {
        height: 1.2rem;
        width: 1.2rem;
      }

      &:hover {
        cursor: pointer;
        background-color: hsl(150, 100%, 66%);
        box-shadow: 0 0 10px hsl(150, 100%, 66%), 0 0 40px hsl(150, 100%, 66%),
          0 0 80px hsl(150, 100%, 66%);
      }
    }
  }
}
